.display {
    background-color: white;
    padding: 10px;
    text-align: right;
    font-size: 24px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .displayValue {
    word-wrap: break-word;
    max-width: 100%;
  }