
.display {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 240px;
  text-align: right;
}

.displayValue {
  font-size: 2rem;
  font-weight: bold;
}